
main {
    background-color: #f9f3f3;
    .container_prod {
        width: 98%;
        margin: 0 auto;
        padding-top: 2rem;

        @include media-breakpoint-up(xxl) {
            padding-top: 0;
            width: 92%;
        }
    }
}
