
main {
    .container__prod {
        width: 100%;
        margin: 0 auto;
        padding-top: 2rem;

        @include media-breakpoint-up(xl) {
            width: 90%;
        }

        @include media-breakpoint-up(xxl) {
            padding-top: 0;
            width: 85%;
        }

        .container__prod__cosmetics, .container__prod__supplements, .container__prod__vitamins{
            padding: 3rem 0;
            position: relative;
            @include media-breakpoint-up(xl) {
                border-bottom: 1px solid #e9dede;
            }

            &__tittle {
                font-size: 3rem;
                text-align: center;
                margin-bottom: 2rem;
            }
        }
    }
}

.hidden {
    display: none;
}
