include mixins/bs_carousel.pug
include mixins/carousel_mobile.pug
include mixins/header.pug
include mixins/footer.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" text="text/css" href="/styles/home.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(type="text/javascript" src="/home.js")
        title Органика
    body
        +header_home()
        main
            .container__prod
                .container__prod__cosmetics
                    .container__prod__cosmetics__tittle
                        h3 Козметика
                    +carousel_mobile('cosmetics', products)
                        
                    +bs_carousel('carousel_xl', 'cosmetics', 'container__prod__cosmetics__carousel carousel slide d-none d-lg-block', respLengths.xl, 4, products, productsLength)
                    
                .container__prod__supplements
                    .container__prod__supplements__tittle
                        h3 Добавки
                    +carousel_mobile('supplements', productsDobavki)

                    +bs_carousel('carousel_supp_xl', 'supplements', 'container__prod__supplements__carousel carousel slide d-none d-lg-block', respLengthsDobavki.xl, 4, productsDobavki, productsDobavkiLength)

                .container__prod__vitamins
                    .container__prod__vitamins__tittle
                        h3 Витамини
                    +carousel_mobile('vitamins', productsVitamini)
                    +bs_carousel('carousel_vit_xl', 'vitamins', 'container__prod__vitamins__carousel carousel slide d-none d-lg-block', respLengthsVitamini.xl, 4, productsVitamini, productsVitaminiLength)
        +footer()