.header {
    height: 45rem;
    padding: 0 .5rem;
    @include media-breakpoint-up(lg) {
        height: 35rem;
    }


    &__desktop {
        width: 100%;
        height: 27rem;
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../images/bck_cropped.jpg);
        background-size: cover;
        background-position: top;
        @include media-breakpoint-up(lg) {
            height: 20rem;
        }

        &__wrapper {
            position: relative;
            width: 100%;
            @include media-breakpoint-up(md) {
                width: 95%;
            }
            @include media-breakpoint-up(lg) {
                width: 80%;
            }
            @include media-breakpoint-up(xxl) {
                width: 65%;
            }
            height: 100%;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            &__bck-image {
                position: relative;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to right bottom, rgb(119 143 122 / 45%), rgb(24 36 24 / 37%)), url(../images/kozm3.jpg);
                background-size: cover;
                background-position: center;
                opacity: .9;
                @include media-breakpoint-up(md) {
                    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
                }
                @include media-breakpoint-up(lg) {
                    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
                }
                [class^="header__desktop__text-box"] {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    transition: all 1s linear;
                }
            }
        }

    }

    &__search-top-bar {
        width: 95%;
        height: 18rem;
        margin: 0 auto;
        @include media-breakpoint-up(lg) {
            height: 10rem;
        }
        display: flex;
        flex-direction: column;

        .search__input {
            font-size: 2.5rem;
            font-family: inherit;
            color: inherit;
            padding: 1.5rem 2rem;
            @include media-breakpoint-up(md) {
                padding: 1rem 2rem;
            }
            border-radius: 10rem;
            background-color: rbga($color-white, .5);
            border: none;
            border-bottom: 3px solid transparent;
            width: 100%;
            display: block;
            transition: all .3s;

            &:focus {
                outline: none;
                box-shadow: 0 1rem 2rem rgba($color-black, .1);
            }

            &::-webkit-input-placeholder {
                color: $color-grey-dark-2;
            }
        }

        .form_wrapper-lg {
            display: none;
            flex-grow: .8;
            @include media-breakpoint-up(lg) {
                display: block;
            }

            .search__input {
                background-color: #ffffff;
            }

            .search_icon {
                position: relative;

                .search_span {
                    position: absolute;
                    top: 10%;
                    right: 2%;
                    font-size: 2.5rem;
                }
            }
        }

        &-form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @include media-breakpoint-up(lg) {
                display: none;
            }
            width: 100%;
            gap: 1rem;
            .form_wrapper {
                flex: 2;
            }

            .search_icon {
                position: relative;

                .search_span {
                    position: absolute;
                    top: 15%;
                    right: 2%;
                    font-size: 2.5rem;
                }
            }
            
        }
    }

    &__logo-card-icon {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            padding-left: 2rem;
            img {
                width: 8rem;
                height: 8rem;
            }
        }

        .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;

            @include media-breakpoint-up(lg) {
                gap: 5rem;
            }

            .profile {
                font-size: 3rem;
            }
            .cart {
                font-size: 3rem;
            }
        }
    }

    &__top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-box {
        margin-left: 1rem;
        margin-top: 1rem;
        @include respond(tab-port) {
            margin-left: 2rem;
        }
        @include respond(desktop) {
            margin-left: 4rem;
        }
    }

    &__atag {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        color: $color-black;
    }

    &__logo {
        height: 7rem;
        width: 7rem;
    }

}