main {

    .container {
        padding-top: 5rem;
        width: 98%;
        margin: 0 auto;

        .filters__sort {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;

            &__filter {
                transition: all .8s;
                flex: 1 1 auto;
                display: flex;
                justify-content: flex-start;
                @include media-breakpoint-up(md) {
                    flex: 3 1 auto;
                }
                &__tittle {
                    font-size: 2.5rem;
                    font-weight: 700;
                }

                &__checkbox {
                    display: none;
                }

                #filters_button {
                    background-color: #1ea334a3;
                    padding: 0;
                    cursor: pointer;
                }

                &__label {
                    z-index: 1000;
                    display: inline-block;
                    padding: 2rem 4rem;
                    font-size: 3rem;
                    text-align: center;
                    cursor: pointer;
                    position: relative;
                    transition: all .8s;

                    &__span {
                        display: flex;
                        justify-content: center;

                        img {
                            width: 5rem;
                            height: 5rem;
                        }
                    }
                }

                &__fixedfilters {
                    height: 100vh;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 2500;
                    background: #f7f7f7;
                    opacity: 0;
                    width: 0;
                    transition: all .8s;
                    overflow: auto;

                    &__wrapper {
                        position: absolute;
                        list-style: none;
                        top: 0%;
                        left: 50%;
                        text-align: center;
                        transform: translate(-50%, 0%);
                        width: 100%;
                        opacity: 1;
                        display: none;
                        transition: all .8s;

                        &__close {
                            height: 10rem;
                            width: 100%;
                            position: relative;

                            .close__icon {
                                position: absolute;
                                top: 10%;
                                right: 1%;
                                background-color: #fff;
                                height: 10rem;
                                width: 10rem;
                                border-radius: 50%;
                                text-align: center;
                                box-shadow: 0 1rem 3rem rgb(0 0 0 / 10%);
                                cursor: pointer;

                                &:after,
                                &:before {
                                    position: absolute;
                                    content: "";
                                    height: 7rem;
                                    top: 1.5rem;
                                    width: 5px;
                                    background-color: #333;
                                }

                                &:before {
                                    transform: rotate(45deg);
                                }

                                &:after {
                                    transform: rotate(-45deg);
                                }

                            }
                        }

                        &__menu {
                            margin-top: 5rem;

                            &__item {
                                border-bottom: 1px solid #615f5d;

                                &:not(:first-child) {
                                    margin-top: 3rem;
                                }

                                &__checkbox {
                                    display: none;
                                }

                                &__label {
                                    &__wrapper {
                                        font-size: 4rem;
                                        display: flex;
                                        align-items: center;
                                        gap: 2rem;
                                        justify-content: center;
                                        &__title {
                                            color: #615d5d;
                                        }

                                        &__plus-icon {
                                            position: relative;
                                            cursor: pointer;
                                            height: 3rem;
                                            width: 3rem;

                                            &:after {
                                                content: "";
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                height: 2rem;
                                                width: 2rem;
                                                border-top: 2px solid black;
                                                border-left: 2px solid black;
                                                transform: rotate(225deg);
                                                transition: all .6s linear;
                                            }
                                        }
                                    }
                                    
                                }

                                &__list {
                                    margin: .5rem auto 2rem auto;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                    gap: 2rem;
                                    transition: max-height 0.8s linear;
                                    width: 100%;
                                    max-height: 0;
                                    overflow: hidden;

                                    .spanPrice {
                                        flex-basis: 45%;
                                        font-size: 3rem;
                                        border: 1px solid black;
                                        padding: 2rem 1rem;
                                    }

                                    .spanBrand {
                                        flex-basis: 45%;
                                        font-size: 2.5rem;
                                        font-weight: 600;
                                        border: 1px solid black;
                                        padding: 1rem 1rem;
                                    }
                                }
                            }

                            .filters__sort__filter__fixedfilters__wrapper__menu__item__checkbox:checked ~ .filters__sort__filter__fixedfilters__wrapper__menu__item__list {
                                max-height: 200rem;
                            }

                            .filters__sort__filter__fixedfilters__wrapper__menu__item__checkbox:checked + .filters__sort__filter__fixedfilters__wrapper__menu__item__label {
                                .filters__sort__filter__fixedfilters__wrapper__menu__item__label__wrapper__plus-icon {
                                    &:after {
                                        top: 45%;
                                        transform: rotate(45deg);
                                    }
                                }
                            }
                        }

                    }

                    .applyButton {
                        margin: 10rem auto;
                        width: 90%;

                        button {
                            font-size: 3rem;
                            padding: 2rem 6rem;
                        }
                    }

                }

            }

            &__filter__checkbox:checked~.filters__sort__filter__fixedfilters {
                opacity: 1;
                width: 100%;
            }

            &__filter__checkbox:checked~.filters__sort__filter__fixedfilters .filters__sort__filter__fixedfilters__wrapper {
                display: block;
                opacity: 1;
            }

            &__sort {
                @include media-breakpoint-up(md) {
                    flex: 1 1 auto;
                }
                label {
                    font-size: 2.5rem;
                    margin-left: 0;
                    margin-top: 0;
                }

                select {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .container_prod {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        @include media-breakpoint-up(md) {
            width: 96%;
        }
        @include media-breakpoint-up(xl) {
            gap: 3rem;
        }
        &__filters {
            flex: 1 1 30%;

            &__wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5rem;
                
                &__menu {
                    border: 1px solid #0b3e2c44;
                    border-radius: 1rem;
                    background-image: linear-gradient(to left bottom, rgba(104, 163, 101, 0.226), rgb(254 255 254));
                    width: 90%;
                    @include media-breakpoint-up(xl) {
                        width: 70%;
                    }
                    margin: 0 auto 5rem auto;
                    padding: 2rem 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    transition: all .4s;

                    &__item {
                        font-size: 2.5rem;
                        color: rgb(12 22 18 / 68%);
                        text-align: center;
                        a {
                            transition: all .4s;
                            &:hover {
                                color: #19c5db;
                            }
                        }
                    }

                    &:hover {
                        transform: translateY(-1rem);
                    }
                }

                &__price {
                    width: 100%;
                    border-bottom: 1px solid rgba(124, 118, 118, 0.541);
                    @include media-breakpoint-up(xxl) {
                        width: 85%;
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    &__tittle {
                        font-size: 3rem;
                        text-align: center;
                    }

                    &__list {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 1.5rem;
                        padding-bottom: 5rem;

                        &__item {
                            flex-basis: 45%;
                            font-size: 2rem;
                            border: 1px solid rgba(156, 152, 152, 0.445);
                            border-radius: .5rem;
                            padding: 2rem 1rem;
                            text-align: center;
                            transition: all .4s;
                            
                            &:hover {
                                cursor: pointer;
                                background-color: #4deb9c86;
                            }
                        }
                    }
                }

                &__brand {
                    width: 100%;
                    border-bottom: 1px solid rgba(124, 118, 118, 0.541);
                    @include media-breakpoint-up(xxl) {
                        width: 85%;
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    &__tittle {
                        font-size: 3rem;
                        text-align: center;
                    }

                    &__list {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 1.5rem;
                        padding-bottom: 5rem;

                        &__item {
                            flex-basis: 45%;
                            font-size: 2rem;
                            border: 1px solid rgba(156, 152, 152, 0.445);
                            border-radius: .5rem;
                            padding: 2rem 1rem;
                            text-align: center;
                            transition: all .4s;
                            
                            &:hover {
                                cursor: pointer;
                                background-color: #4deb9c86;
                            }
                        }
                    }
                }
            }
            
        }

        &__products {
            flex: 1 1 100%;
            padding-top: 5rem;
            @include media-breakpoint-up(lg) {
                flex: 1 1 70%;
            }
            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding-bottom: 3rem;
    
                &__tittle {
                    font-size: 2.5rem;
                }
            }
    
            &__grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 3rem;
                column-gap: 1rem;
    
                @include media-breakpoint-up(md) {
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 2rem;
                    row-gap: 4rem;
                }
                @include media-breakpoint-up(xxl) {
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 3rem;
                }
                .kozmetika__carousel__prod__wrapper {
                    display: flex;
                    position: relative;
                    overflow: hidden;
                    background: #ffffff;
                    transition: all .2s;
                    height: 40rem;
                    
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid rgba(85, 82, 82, 0.34);
                    border-radius: 1rem;
        
                    &__image {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        margin: 1rem auto;
                        transition: all .5s;
                        overflow: hidden;
        
                        &__wrapper {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
        
                            img {
                                transition: all .5s;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                &:hover {
                                    transform: scale(1.2);
                                }
                            }
                        }
                        
                    }
        
                    &__tittle {
                        font-size: 2rem;
                        text-align: center;
        
                        &__link {
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
        
                    &__price {
                        width: 90%;
                        margin-top: .5rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        @include media-breakpoint-up(lg) {
                            margin-top: 1.5rem;
                        }
                        .price {
                            font-size: 3rem;
                            color: red;
                        }
                        .bag {
                            font-size: 3rem;
                        }
                    }
        
                    &:hover {
                        box-shadow: 0 0 5rem rgba(33,33,33,.3);
                    }
                }
            }
        }

    }
}