@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fiveStar {
    .star1 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star2 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star3{
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star4 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star5 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
}

@mixin fourStar {
    .star1 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star2 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star3{
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star4 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star5 {
        &::before {
            content: '★ ';
        }
    }
}

@mixin threeStar {
    .star1 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star2 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star3{
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star4 {
        &::before {
            content: '★ ';
        }
    }
    .star5 {
        &::before {
            content: '★ ';
        }
    }
}

@mixin twoStar {
    .star1 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star2 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star3{
        &::before {
            content: '★ ';
        }
    }
    .star4 {
        &::before {
            content: '★ ';
        }
    }
    .star5 {
        &::before {
            content: '★ ';
        }
    }
}

@mixin oneStar {
    .star1 {
        &::before {
            content: '★ ';
            color: #ffc700;
        }
    }
    .star2 {
        &::before {
            content: '★ ';
        }
    }
    .star3{
        &::before {
            content: '★ ';
        }
    }
    .star4 {
        &::before {
            content: '★ ';
        }
    }
    .star5 {
        &::before {
            content: '★ ';
        }
    }
}
//Media query manager
/*
0 - 600px; phone
600px - 900px; tablet portrait
900px - 1200px; tablet landscape
1200px - 1800px; desktop
1800px+; big destkop
*/

/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin respond($breakpoint) {
    @if $breakpoint == tab-port {
        @media (min-width: 37.5em) {@content;} //600px
    }

    @if $breakpoint == tab-land {
        @media (min-width: 56.25em) {@content;} //900px
    }

    @if $breakpoint == desktop {
        @media (min-width: 75em) {@content;} //1200px
    }

    @if $breakpoint ==big_desktop {
        @media (min-width: 112.5em) {@content;} //1800px
    }
}