.container {
    width: 100%;
    position: relative;

    &__prod {
        width: 95%;
        @include media-breakpoint-up(lg) {
            width: 80%;
        }
        @include media-breakpoint-up(xxl) {
            width: 68%;
        }
        margin: 5rem auto 0;

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            mix-blend-mode: multiply;
            @include media-breakpoint-up(md) {
                flex-direction: row;
                align-items: stretch;
                gap: 4rem;
            }

            @include media-breakpoint-up(lg) {
                gap: 10rem;
            }

            @include media-breakpoint-up(xxl) {
                gap: 11rem;
            }

            &__top {
                width: 100%;
                @include media-breakpoint-up(md) {
                    flex-basis: 40%;
                }

                @include media-breakpoint-up(xxl) {
                    flex-basis: 50%;
                }
                &__tittle {
                    text-align: center;
                    @include media-breakpoint-up(md) {
                        text-align: left;
                    }
                    @include media-breakpoint-up(xxl) {
                        text-align: center;
                    }
                    
                    h2 {
                        font-size: 3rem;
                    }

                    p {
                        font-size: 2rem;
                        font-weight: 400;
                        text-align: left;
                        @include media-breakpoint-up(xxl) {
                            text-align: center;
                        }
                    }
                }

                &__image {
                    width: 100%;
                    margin-top: 2rem;

                    .flipSwiper {
                        display: flex;
                        flex-direction: column;
                        gap: 4rem;
                        @include media-breakpoint-up(xxl) {
                            flex-direction: row;
                            gap: 2rem;
                        }

                        .swiper-wrapper {
                            
                            .swiper-slide {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                .imgWrapper {
                                    max-height: 350px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                img {
                                    cursor: pointer;
                                    max-height: 100%;
                                    object-fit: contain;
                                }
                            }
                        }

                        .swiper-pagination {
                            position: relative;

                            .swiper-pagination-bullet {
                                width: 5rem;
                                height: 5rem;
                            }
                        }
                    }

                }
            }
        }

        &__info {
            width: 95%;
            margin: 1rem auto 0 auto;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @include media-breakpoint-up(md) {
                margin: 0 auto 0 auto;
                flex-basis: 60%;
                justify-content: space-between;
            }
            @include media-breakpoint-up(xxl) {
                flex-basis: 50%;
            }
            &__price {
                width: 100%;
                display: flex;
                justify-content: space-between;
                @include media-breakpoint-up(xxl) {
                    justify-content: center;
                    gap: 4rem;
                }
                align-items: center;
                padding: 0 1rem;
                margin: 0 auto;
                background-color: #fbf0f033;

                .product__price {
                    font-size: 3.5rem;
                    font-weight: bold;
                    color: #209f52a3;
                }

                .text__availability {
                    font-size: 2.5rem;
                    color: rgb(42, 158, 42);
                }
            }

            &__add-to-bag {
                display: flex;
                flex-direction: column;
                text-align: center;
                @include media-breakpoint-up(md) {
                    margin-top: auto;
                }
                .form__wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .form-select {
                        width: inherit;
                        border: none;

                        &:focus,
                        &:active {
                            outline: none;
                            border: none;
                            box-shadow: none;
                        }
                    }

                    .select_input {
                        text-align: left;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        @include media-breakpoint-up(xxl) {
                            justify-content: center;
                            gap: 3rem;
                        }
                        .safe_trans {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            i {
                                font-size: 2.5rem;
                            }

                            .safe_trans_text {
                                font-size: 1.7rem;
                                color: rgb(75, 96, 211);
                                cursor: pointer;
                            }
                        }
                    }
                }

                #quantity {
                    font-size: 3rem;
                }
            }
        }
    }

}