.quantity_fixed {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: -9999;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .2);
    }

    &__content {
        @include absCenter;

        width: 60%;
        height: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        overflow: auto;
        flex-direction: column;
        align-items: center;

        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &__span {
                text-align: center;
                flex: 1;
                font-size: 2rem;
            }

            &__close {
                flex-shrink: 0;
                height: 7rem;
                width: 7rem;
                background-color: transparent;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;
                position: relative;
                margin: 1rem;

                .close__icon {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    &:after,
                    &:before {
                        position: absolute;
                        content: "";
                        height: 4rem;
                        top: 1.5rem;
                        width: 5px;
                        background-color: #333;
                    }

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        &__menu {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: auto;

            &__item {
                padding: 1.5rem;
                font-size: 2.5rem;
                font-weight: 600;
                border-top: 2px solid rgba(177, 173, 173, 0.541);
                cursor: pointer;

                &:last-child {
                    border-bottom: 2px solid rgba(177, 173, 173, 0.541);
                }
            }

            &__item.active-qty {
                background-color: aquamarine;
            }
        }
    }
}

.transaction_container {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: -9999;
    bottom: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .2);
    }

    &__content {
        @include absCenter;
        width: 100%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;

        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &__span {
                text-align: center;
                flex: 1;

                h2 {
                    font-size: 2rem;
                }
            }

            &__close {
                flex-shrink: 0;
                height: 5rem;
                width: 5rem;
                background-color: transparent;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;
                position: relative;

                .close__icon {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;

                    &:after,
                    &:before {
                        position: absolute;
                        content: "";
                        height: 4rem;
                        top: .5rem;
                        width: 5px;
                        background-color: #333;
                    }

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        &__text {
            font-size: 2rem;
            text-align: center;
            font-weight: 500;
        }
    }
}

.product_gallery_div {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: -99999;

    &:target {
        visibility: visible;
        opacity: 1;
        z-index: 99999999;
    }

    .container__prod__wrapper__image {
        height: 100%;
        position: relative;

        .carousel {
            height: 100%;

            .top_row {
                height: 20vh;
                display: flex;
                flex-direction: column;
                gap: 5rem;

                .arrows_wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 auto;
                    width: 90%;
                    @include media-breakpoint-up(sm) {
                        width: 80%;
                    }

                    &__buttons {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1.5rem;

                        .carousel-control-prev,
                        .carousel-control-next {
                            position: relative;
                            z-index: 10;
                            width: 6rem;
                            height: 6rem;
                            text-align: center;
                            opacity: .7;
                            font-size: 20px;
                            cursor: pointer;

                            .carousel-control-prev-icon,
                            .carousel-control-next-icon {
                                background-color: #897d6d;
                                width: 100%;
                                height: 100%;
                                color: black;
                            }

                            span {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }

                    &__zoom {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1.5rem;

                        .zoom_in_button,
                        .zoom_out_button {
                            position: relative;
                            z-index: 10;
                            width: 6rem;
                            height: 6rem;
                            text-align: center;
                            opacity: 0.5;
                            font-size: 20px;
                            border: none;
                            outline: none;
                            cursor: pointer;

                            .zoom_in_button_icon,
                            .zoom_out_button_icon {
                                width: 100%;
                                height: 100%;
                                color: black;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                            .zoom_in_button_icon {
                                background-image: linear-gradient(to right bottom, #5e393924, #4c4c9557), url(../images/zoom-in.jpg);
                                display: inline-block;
                                background-position: 50%;
                                background-size: 100% 100%;
                            }

                            .zoom_out_button_icon {
                                background-image: linear-gradient(to right bottom, #5e393924, #4c4c9557), url(../images/zoom-out.jpg);
                                display: inline-block;
                                background-position: 50%;
                                background-size: 100% 100%;
                            }
                        }
                    }
                    .popup_close {

                        &:link,
                        &:visited {
                            color: $color-grey-dark;
                            font-size: 9rem;
                            text-decoration: none;
                            display: inline-block;
                            transition: all .2s;
                            line-height: 1;
                        }
                
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
                .carousel-indicators {
                    @media (orientation: landscape) {
                        display: none;
                    }
                    margin: 0 auto;
                    width: 90%;
                    @include media-breakpoint-up(sm) {
                        width: 80%;
                    }
                    li {
                        height: auto;
                    }
                }
            }

            .carousel-inner {
                height: 80vh;

                .carousel-item {
                    overflow: auto;
                    height: 100%;

                    .carousel_img_wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;

                        img {
                            max-height: 100%;
                            max-width: 100%;
                            object-fit: contain;
                            transition: all 0.3s ease-in-out;
                            cursor: zoom-in;
                        }

                    }
                }
            }

        }
    }
}