.header {
    height: 60rem;
    width: 100%;
    
    @include media-breakpoint-up(md) {
        padding: 0 0.3rem;
    }

    @include media-breakpoint-up(md) {
        height: 50rem;
    }


    &__desktop {
        width: 100%;
        height: 70%;
        @include media-breakpoint-up(md) {
            height: 65%;
        }
        position: relative;
        overflow: hidden;
        border: 1px solid transparent;
        border-radius: .5rem;
        @include media-breakpoint-up(lg) {
            border: unset;
            border-radius: unset;
        }

        .bck_image {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &_1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8)), url(../images/back2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            &_2 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to right bottom, rgba(82, 160, 72, 0.44), rgba(63, 162, 81, 0.43));
                background-repeat: no-repeat;
                background-size: cover;
                -webkit-clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0% 100%);
                clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0% 100%);

                @include media-breakpoint-up(md) {
                    -webkit-clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 50% 100%);
                    clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 50% 100%);
                }

                @include media-breakpoint-up(lg) {
                    -webkit-clip-path: polygon(80% 0%, 100% 0%, 100% 100%, 50% 100%);
                    clip-path: polygon(80% 0%, 100% 0%, 100% 100%, 50% 100%);
                }
            }
        }
        &__text-box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            opacity: 0;
            //transition: all 1s linear;

            &-1 {
                opacity: 1;
                animation-delay: 5s, 28.5s;
                animation-duration: .5s, .5s;
                animation-name: fadeOut, fadeIn;
                animation-fill-mode: forwards, forwards;
            }
            &-2 {
                animation-delay: 6s, 11s;
                animation-duration: .5s, .5s;
                animation-name: fadeIn, fadeOut;
                animation-fill-mode: forwards, forwards;
            }
            &-3 {
                animation-delay: 11.5s, 16.5s;
                animation-duration: .5s, .5s;
                animation-name: fadeIn, fadeOut;
                animation-fill-mode: forwards, forwards;
            }
            &-4 {
                animation-delay: 17s, 22s;
                animation-duration: .5s, .5s;
                animation-name: fadeIn, fadeOut;
                animation-fill-mode: forwards, forwards;
            }
            &-5 {
                animation-delay: 23s, 28s;
                animation-duration: .5s, .5s;
                animation-name: fadeIn, fadeOut;
                animation-fill-mode: forwards, forwards;
            }
        }
    }

    &__search-top-bar {
        height: 30%;
        @include media-breakpoint-up(md) {
            height: 35%;
        }
        width: 95%;
        margin: 0 auto;
        @include media-breakpoint-up(xl) {
            height: 10rem;
        }
        display: flex;
        flex-direction: column;

        .search__input {
            font-size: 2.5rem;
            font-family: inherit;
            color: inherit;
            padding: 1.5rem 2rem;
            @include media-breakpoint-up(md) {
                padding: 1rem 2rem;
            }
            border-radius: 10rem;
            background-color: rbga($color-white, .5);
            border: none;
            border-bottom: 3px solid transparent;
            width: 100%;
            display: block;
            transition: all .3s;

            &:focus {
                outline: none;
                box-shadow: 0 1rem 2rem rgba($color-black, .1);
            }

            &::-webkit-input-placeholder {
                color: $color-grey-dark-2;
            }
        }

        .form_wrapper-lg {
            display: none;
            flex-grow: .8;
            @include media-breakpoint-up(xl) {
                display: block;
            }

            .search__input {
                background-color: #ffffff;
            }

            .search_icon {
                position: relative;

                .search_span {
                    position: absolute;
                    top: 10%;
                    right: 2%;
                    font-size: 2.5rem;
                }
            }
        }

        &-form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @include media-breakpoint-up(xl) {
                display: none;
            }
            width: 100%;
            gap: 1rem;
            .form_wrapper {
                flex: 2;
            }

            .search_icon {
                position: relative;

                .search_span {
                    position: absolute;
                    top: 15%;
                    right: 2%;
                    font-size: 2.5rem;
                }
            }
            
        }
    }

    &__logo-card-icon {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            padding-left: 2rem;
            img {
                width: 8rem;
                height: 8rem;
            }
        }

        .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;

            @include media-breakpoint-up(lg) {
                gap: 5rem;
            }

            .profile {
                font-size: 3rem;
            }
            .cart {
                font-size: 3rem;
            }
        }
    }

    &__top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-box {
        margin-left: 1rem;
        margin-top: 1rem;
        @include respond(tab-port) {
            margin-left: 2rem;
        }
        @include respond(desktop) {
            margin-left: 4rem;
        }
    }

    &__atag {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        color: $color-black;
    }

    &__logo {
        height: 7rem;
        width: 7rem;
    }

}