*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 45%;
    @include media-breakpoint-up(sm) {
        font-size: 52%;
    }

    @include media-breakpoint-up(md) {
        font-size: 55%;
    }

    @include media-breakpoint-up(lg) {
        font-size: 56.25%;
    }
    @include media-breakpoint-up(xl) {
        font-size: 62.5%;
    }
    @include media-breakpoint-up(xxl) {
        font-size: 68%;
    }
    
}

body {
    box-sizing: border-box;
    padding: 0;

}

a {
    color: unset;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
}