body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
    background-color: #f9f3f3;
    
    .heading-primary {
        color: #ffffff;
        text-transform: uppercase;

        backface-visibility: hidden;
        margin-bottom: 1rem;

        &--main {
            display: block;
            font-size: 5.5rem;
            font-weight: 400;
            letter-spacing: 1rem;
            @include media-breakpoint-up(md) {
                letter-spacing: 3rem;
            }
            animation: moveInLeft 1s ease-out;
        }
        &--main.category {
            letter-spacing: 1.5rem;
            font-size: 5rem;
            @include media-breakpoint-up(md) {
                letter-spacing: 2.5rem;
                font-size: 5.5rem;
            }
            animation: none;
        }
        &--sub {
            display: block;
            font-size: 4rem;
            font-weight: 700;
            letter-spacing: 1.8rem;
            animation: moveInRight 1s ease-out;
        }

        &--main-2 {
            display: block;
            font-weight: 400;
            letter-spacing: 1rem;
            @include media-breakpoint-up(md) {
                letter-spacing: 3rem;
            }
            font-size: 5rem;
            @include media-breakpoint-up(md) {
                font-size: 6rem;
            }
            line-height: 2;
        }

        &--sub-2 {
            display: block;
            font-weight: 700;
            letter-spacing: 1.5rem;
            font-size: 4rem;
        }

        &--main-3 {
            display: block;
            font-weight: 400;
            letter-spacing: 1rem;
            line-height: 1.5;
            @include media-breakpoint-up(md) {
                letter-spacing: 2rem;
                line-height: 1;
            }
            @include media-breakpoint-up(lg) {
                line-height: 1.5;
                letter-spacing: 2.5rem;
            }
            font-size: 5rem;
        }

        &--sub-3 {
            display: block;
            font-weight: 700;
            letter-spacing: 1.5rem;
            font-size: 4rem;
        }

        &--main-4 {
            display: block;
            font-weight: 600;
            letter-spacing: 1rem;
            @include media-breakpoint-up(md) {
                letter-spacing: 2.5rem;
            }
            font-size: 5rem;
        }

        &--sub-4 {
            display: block;
            font-weight: 500;
            letter-spacing: 2rem;
            font-size: 5rem;
        }

        &--main-5 {
            display: block;
            font-weight: 600;
            letter-spacing: 1rem;
            @include media-breakpoint-up(md) {
                letter-spacing: 2.5rem;
            }
            font-size: 5rem;
        }

        &--sub-5 {
            display: block;
            font-weight: 500;
            letter-spacing: 2rem;
            font-size: 5rem;
        }
    }
}
