.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-top-small {
    margin-top: 2rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

.text_transform_lowercase {
    text-transform: lowercase;
}

.ml {
    margin-left: 1rem;
}

.mr {
    margin-right: 1rem;
}

.capitalize {
    text-transform: capitalize;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    &__spinnercont {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        &__loader {
            border: 16px solid #898282;
            /* light gray border */
            border-top: 16px solid #3498db;
            /* blue border on top */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            /* the spin animation */
            margin: auto;
        }
    }
}

.vis-anim {
    visibility: visible;
    height: 100vh;
    opacity: 1;
    z-index: 9999;
}

.vis-anim-hidden {
    visibility: hidden;
    height: 0;
    opacity: 0;
    z-index: -9999;
}